@charset "gb18030";
.chiri_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.gk_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.azalea_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.cyaron_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.chika_col::selection {
	color: #ff7777;
}
.chika_col::-moz-selection {
	color: #ff7777;
}
.aqours_col   {color: #00a1e9;}
.chika_col    {color: #ff791b;}
.riko_col			{color: #ff7777;}
.kanan_col		{color: #00d29e;}
.daiya_col		{color: #f43232;}
.you_col			{color: #2aa4db;}
.yosiko_col		{color: #aeaeae;}
.hanamaru_col {color: #cfba0f;}
.mari_col			{color: #a530e0;}
.ruby_col			{color: #ee55b7;}
.chiri_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#ff7777);
}
.chiriyou_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#ff7777,#2aa4db);
}
.gk_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff7777,#aeaeae,#a530e0);
}
.azalea_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#00d29e,#f43232,#cfba0f);
}
.cyaron_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#2aa4db,#ee55b7);
}