@charset "gb18030";
/*颜色*/
.aqours_col   {color: #00a1e9;}
.chika_col    {color: #ff791b;}
.riko_col			{color: #ff7777;}
.kanan_col		{color: #00d29e;}
.daiya_col		{color: #f43232;}
.you_col			{color: #2aa4db;}
.yosiko_col		{color: #aeaeae;}
.hanamaru_col {color: #cfba0f;}
.mari_col			{color: #a530e0;}
.ruby_col			{color: #ee55b7;}
.chiri_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#ff7777);
}
.chiriyou_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#ff7777,#2aa4db);
}
.gk_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff7777,#aeaeae,#a530e0);
}
.azalea_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#00d29e,#f43232,#cfba0f);
}
.cyaron_col {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(top,#ff791b,#2aa4db,#ee55b7);
}
/*全局部署*/
body {
	margin: 0px;
	text-align: center;
	min-width: 1000px;
}
ul {
	list-style-type: none;
}
.hide {
	display: none;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #ff791b;
	border-width: 0px 0px 2px 0px;
	border-style: dotted;
}
.hr {
	min-width:996.656px;
	min-height: 24.8px;
	max-width: 2010px;
	max-height: 50px;
	width: 98vw;
	height: 2.43781vw;
}
a             {transition: 0.3s;text-decoration: none;}
a:link        {color: #ff7777;}
a:visited     {color: #ff7777;}
a:hover       {color: #ff791b;}
a:active      {color: #ff7777;}
::selection {
	color: #ff791b;
}
::-moz-selection {
	color: #ff791b;
}
.chiri_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.gk_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.azalea_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.cyaron_col::selection {
	-webkit-text-fill-color: #ff791b;
}
.chika_col::selection {
	color: #ff7777;
}
.chika_col::-moz-selection {
	color: #ff7777;
}
/*字体*/
.eng_font {
	font-family: 'Josefin Slab', serif;
	font-weight:600;
}
.jp_font {
	font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.zh-cn_font {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
/*标题部分*/
nav a:link    {color: inherit;}
nav a:visited {color: inherit;}
nav a:hover   {color: white;}
nav a:active  {color: inherit;}
.header_cover {
	margin-bottom: 30px;
	color: #666;
}
.headline {
	margin-bottom: 25px;
}
.headline h1 {
	height: 38px;
	margin-bottom: 10px;
	font-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}
.headline p {
	height: 23px;
	margin-top: 10px;
	font-size: 15px;
}
.navbar {
	height: 80px;
	background-image: url(/container/img/bg_nav.png);
	margin-bottom: 30px;
}
.navbar ul {
	margin: 0 auto;
	padding: 28px 0px 28px 0px;
	height: 24px;
	width: 65vw;
	min-width: 675px;
}
.navbar ul li {
	float: left;
	font-size: 20px;
	font-weight: 500;
}
.navbar ul li:nth-of-type(1) {
	width: 18vw;
	min-width: 196px;
}
.navbar ul li:nth-of-type(2) {
	width: 12vw;
	min-width: 130px;
}
.navbar ul li:nth-of-type(3) {
	width: 13vw;
	min-width: 140px;
}
.navbar ul li:nth-of-type(4) {
	width: 10vw;
	min-width: 100px;
}
.navbar ul li:nth-of-type(5) {
	width: 10vw;
	min-width: 100px;
}
.navbar ul li a span {
	vertical-align: -5px;
}
nav::before {
	content: "";
	position: absolute;
	border-top: 1px dashed white;
	width: 100%;
	top: 117.75px;
	left: 0;
	z-index: 1;
}
nav::after {
	content: "";
	position: absolute;
	border-top: 1px dashed white;
	width: 100%;
	top: 187.75px;
	left: 0;
}
.poster img {
	width: 70vw;
	height: 28vw;
	min-width: 711.891px;
	min-height: 284.756px;
}
/*歌词部分排版*/
.main_cover {
	margin-top: 30px;
	margin-bottom: 50px;
}
.main_area {
	float: left;
	margin-left: 5.5vw;
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 1.2vw;
}
.orignal {
	float: left;
}
.translated {
	float: left;
	margin-left: 3.7vw;
}
article h3 {
	height: 30px;
}
article p {
	height: 1.875vw;
	min-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
/*页脚*/
.footer_cover {
	clear: left;
	padding-bottom: 20px;
}
.j-z_vertical-align {
	vertical-align: -1px;
}
/*侧边栏*/
.sidebar {
	position: fixed;
	bottom: 50px;
	padding: 10px 30px 10px 20px;
	background-color: white;
	transition-property: opacity, right;
	transition-duration: 2s;
	transition-timing-function: ease;
	right: -300px;
	opacity: 0.0;
  box-shadow: 0 2px 30px rgba(0,0,0,.3);
	width: 300px;
}
.sidebar:hover {
	right: 0px;
	opacity: 0.85;
}
.sidebar_hold {
  right: 0px;
  opacity: 0.85;
}
.audio_staff {
	padding-left: 10px;
	text-align: left;
}
audio {
	width: 300px;
}
.lrc {
	font-weight: 500;
	transition: 0.5s;
	transition-timing-function: linear;
}
.lrc p:first-child {
	height: 48px;
}
.lrc p:last-child {
	height: 44px;
}
.tip {
	position: fixed;
	bottom: 180px;
	left: -80px;
	padding: 10px;
	background-color: white;
	box-shadow: 0 2px 20px #ff791b;
	opacity: 0.85;
	width: 100px;
	transition-property: left;
	transition-duration: 1s;
	transition-timing-function: ease;
}
.tip:hover {
	left: 0px;
}
.tip p:first-child {
	font-size: 15px;
	width: 70px;
	float: left;
	color: #ff7777;
	padding-right: 5px;
}
.tip p:not(:first-child) {
	float: left;
	margin: 0px;
	width: 20px;
	height: 15px;
	font-size: 15px;
	color: #ff791b;
}
/*搜索框*/
.overlay input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/container/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
		width: 50vw;
}
.overlay form {
		position: absolute;
		bottom: 5vw;
		left: 25vw;
}
.overlay div {
	height: 50vh;
	background-color: rgba(100, 150, 255, 0.5);
	position: relative;
}
/*overlay*/
.overlay {
	height: 0;
	width: 100vw;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0， 0.9);
	overflow-y: hidden;
	transition: 1s;
	transition-timing-function: ease;
}
.overlay a {
	padding: 8px;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
	z-index: 1;
}
/*for overlay decoretion*/
.overlay h1 {
	font-size: 36px;
}
.overlay p {
	color: white;
	font-size: 20px;
}
/*加载动画*/
.init_anime {
	opacity: 0.0;
}
@keyframes opacity {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
}
.headline h1 {
	animation-name: opacity;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.headline p {
	animation-name: opacity;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.navbar {
	animation-name: opacity;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.main_cover, .footer_cover {
	animation-name: opacity;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.poster {
	animation-name: opacity;
	animation-delay: 3s;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.li1_anime {
	animation-name: opacity;
	animation-delay: 3s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.li2_anime {
	animation-name: opacity;
	animation-delay: 3.5s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.li3_anime {
	animation-name: opacity;
	animation-delay: 4s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.li4_anime {
	animation-name: opacity;
	animation-delay: 4.5s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.li5_anime {
	animation-name: opacity;
	animation-delay: 5s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes slide_tip {
	from {left: -80px;}
	to {left: 0px;}
}
.tip {
	animation-name: slide_tip;
	animation-delay: 6s;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: 2;
	animation-timing-function: ease;
}
@keyframes slide_sidebar {
	from {
		right: -300px;
		opacity: 0.0;
	}
	to {
		right: 0px;
		opacity: 0.85;
	}
}
.sidebar {
	animation-name: slide_sidebar;
	animation-delay: 6s;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: 2;
	animation-timing-function: ease;
}