@charset "gb18030";
/*loader*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
	border-top: 16px solid #ff791b;
	border-bottom: 16px solid #ff7777;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
/*颜色*/
.aqours_col   {color: #00a1e9;}
.chika_col    {color: #ff791b;}
.riko_col			{color: #ff7777;}
.kanan_col		{color: #00d29e;}
.daiya_col		{color: #f43232;}
.you_col			{color: #2aa4db;}
.yosiko_col		{color: #aeaeae;}
.hanamaru_col {color: #cfba0f;}
.mari_col			{color: #a530e0;}
.ruby_col			{color: #ee55b7;}
/*全局部署*/
body {
	margin: 0px;
	text-align: center;
}
a             {transition: 0.3s;text-decoration: none;}
a:link        {color: #ff7777;}
a:visited     {color: #ff7777;}
a:hover       {color: #ff791b;}
a:active      {color: #ff7777;}
::selection {
	color: #ff791b;
}
::-moz-selection {
	color: #ff791b;
}
.chika_col::selection {
	color: #ff7777;
}
.chika_col::-moz-selection {
	color: #ff7777;
}
/*字体*/
.eng_font {
	font-family: 'Josefin Slab', serif;
	font-weight:600;
}
.jp_font {
	font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.zh-cn_font {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
/*侧封*/
.ce_feng {
	float: left;
	width: 5vw;
	background-color: black;
	height: 100vh;
}
.ce_feng p {
	font-weight: 600;
	font-size: 3vh;
	line-height: 6.5vh;
	color: deeppink;
	text-shadow: 0 0 1.5vh white;
	margin:0;
	padding-top: 5vh;
}
/*海报*/
.ver_poster {
	position: absolute;
	left: 0px;
	top: 0px;
}
.ver_poster img {
	height: 100vh;
	width: 67.9vh;
}
/*main_cover*/
.main_cover {
	height: 90vh;
	min-height: 465px;
}
/*上标题*/
.title {
	padding-top: 10vh;
	margin-bottom: 12vh;
	margin-top: 0;
}
.title h1 {
	font-size: 4vmax;
}
.title p {
	font-size: 1.5vmax;
}
/*表单*/
form span {
	font-size: 2vmax;
}
input[required] {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 1.2vmax;
	background-color: white;
	padding-left: 12px;
	padding-right: 12px;
	height: 7.5vh;
	width: 30vw;
	margin-bottom: 12vh;
	vertical-align: 4px;
}
button {
	background-color: #00a1e9;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.2vmax;
	width: 20vw;
	height: 6.5vh;
}
/*页脚*/
.footer_cover {
	padding-bottom: 5px;
	font-size: 1.2vmax;
}
.footer_cover p {
	margin-top: 0px;
	margin-bottom: 2vh;
}
/*加载动画*/
.init_anime {
	opacity: 0.0;
	animation-play-state: paused;
}
@keyframes opacity {
	0% {opacity: 0.0;}
	100% {opacity: 1.0;}
}
.ce_feng {
	animation-name: opacity;
	animation-delay: 1s;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.main_cover {
	animation-name: opacity;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.footer_cover {
	animation-name: opacity;
	animation-duration: 1.5s;
	animation-delay: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes slide_poster {
	0% {
		opacity: 0.0;
		left: -300px;
	}
	100% {
		opacity: 1.0;
		left: 5vw;
	}
}
.ver_poster {
	animation-name: slide_poster;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}