@charset "gb18030";
/*overlay*/
.overlay div {
	height: 70vh;
	background-color: rgba(0, 0, 0, 0.38);
	position: relative;
}
.overlay {
	height: 0;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	overflow-y: hidden;
	transition: 1s;
	transition-timing-function: ease;
}
.overlay a {
	padding: 8px;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
	z-index: 1;
}
/*for overlay decoretion*/
.overlay h1 {
	font-size: 3vmax;
}
.overlay p {
	color: white;
	font-size: 1.5vmax;
}
